doctype html
html(lang="en")
  head
    title Searcher
    link(rel='stylesheet', href='static/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    div.row
      img(id='image' src="https://picsum.photos/800/500/?image=" + randomNumber)
      div.column
        form(action='/votes', method='GET')
          i(id='up' class="fa fa-thumbs-o-up" type="submit")
        form(action='/votes', method='GET')
          i(id='down' class="fa fa-thumbs-o-down" type="submit")

    script(src='static/js/scripts.js')
