.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
}
#up, #down {
  font-size: 100px;
  margin: 10px;
}

img {
  cursor: pointer;
  border: 1px solid white;
}
img:hover {
  border: 1px solid blue;
}
